*.o
stb_image.h
stb_image_write.h
test.c
*.jpg
*.png
pattern-detection/shape_c
filter_app
speed_up
filter_asm
pattern-detection/shape_op
number_detection/accuracy
number_detection/detector
test.asm
pattern-detection/accuracy
pattern-detection/shape_detection_optimized
